<h1>Lessons:</h1>

<ul>
  <% @lessons.each do |lesson| %>
    <li><a href= "/lessons/<%= lesson.number %>"><%= lesson.name %></a></li>
  <% end %>
</ul>

<a href="/lessons/new">Add a new lesson</a>
<br><br>
<a href="/sections/">Return to sections</a>
