<div class="row">
  <div class="large-12 columns">
    <h1>Enter lesson information</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <form action="/lessons/new" method="post">
      <label for="lesson_name">Name:</label>
      <input id="lesson_name" name="lesson[name]" type="text">
      <br>
      <label for="lesson_content">Content:</label>
      <textarea id="lesson_content" name="lesson[content]" type="text" placeholder="Lesson content"></textarea>
      <br>
      <label for="lesson_name">Number:</label>
      <input id="lesson_name" name="lesson[number]" type="number">
      <br>

      <label for="section_id">Section ID:</label>
      <select id="section_id" name="lesson[section_id]" type="number">
        <option value="" disabled selected>Select Section</option>
        <% Section.all.each do |section| %>
          <option value="<%= section.id %>"><%= section.name %></option>
        <% end %>
      </select>

      <button class="button alert">Add Lessons</button>
    </form>
  </div>
</div>
