<h1>Enter lesson information</h1>

<form action="/lessons/new" method="post">
  <label for="lesson_name">Name:</label>
  <input id="lesson_name" name="lesson[name]" type="text">
  <br>
  <label for="lesson_content">Content:</label>
  <textarea id="lesson_content" name="lesson[content]" type="text" placeholder="Lesson content"></textarea>
  <br>
  <label for="lesson_name">Number:</label>
  <input id="lesson_name" name="lesson[number]" type="number">
  <button>Add Lessons</button>
</form>
